body {
    font-family: "Raleway", Helvetica, sans-serif;
}

/* Navigation bar */
.container {
    color: orange;
    display:flex;
    justify-content: space-between;
    align-items: center; 
}
#logo{
    border:3px solid;
    padding:0 10px;
}
#navbar li{
    display:inline-block;
}
#navbar a{
    color: orange;
    text-decoration:none;
    font-size:18px;
    padding-right:50px;
}

