{% load static %}

<!doctype html>

<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>MiniFactory - {% block title %}{% endblock %}</title>
        
        <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    </head>
    
    <div class=container>
        <h1 id="logo">MiniFactory WebShop </h1>
        <nav id="navbar">
            <ul>
                <li>
                    <a href="{% url 'shop:index' %}">Home</a>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
            </ul>
        </nav>

    </div>

    <body>
        {% block page_content %}
        {% endblock %}
    </body>
</html>
