{% load static %}

<!doctype html>

<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>MiniFactory - {% block title %}{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/media/icons/shop/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/media/icons/shop/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/media/icons/shop/favicon-16x16.png">
        <link rel="manifest" href="/media/icons/shop/site.webmanifest">
        <link rel="mask-icon" href="/media/icons/shop/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/media/icons/shop/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/media/icons/shop/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        
        <link rel="stylesheet" href="{% static 'shop/style.css' %}">
        {% block head_link %}{% endblock %}
    </head>
    
    <div class=container>
        <a href="{% url 'shop:index' %}" style="color:orange;text-decoration:none">
            <h1 id="logo">MiniFactory WebShop </h1>
        </a>
        <nav id="navbar">
            <ul>
                <li>
                    <a href="{% url 'shop:index' %}">Home</a>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
            </ul>
        </nav>

    </div>

    <body>
        {% block page_content %}
        {% endblock %}
    </body>
</html>
