{% extends 'shop/base.html' %}

{% load static %}
{% block head_link %}
    <link rel="stylesheet" href="{% static 'shop/order_list.css' %}">
{% endblock %}

{% block title %}Shopping Cart {% endblock %}

{% block page_content %}
    <form action="{% url 'shop:order' order.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1> Shopping Cart for Order {{order.id}} </h1></legend>

            {% if error_message %}<p class="error_message"><strong>{{ error_message }}</strong></p>{% endif %}
            
            <div class="order">
                <div>
                    <img src="{{ order.product.get.image.url }}"  alt="{{ order.product.get.name }}"> 
                </div>
                <div>
                    <br>
                    Product:  {{order.product.get.name}}
                    <br><br>
                    Options: 
                    <ul>
                        {% for option in order.options.all %}
                            <li> {{ option }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="order_date">
                    Added to cart at:
                    <br>
                    {{ order.order_date }}
                </div>
            </div>
        </fieldset>

        <div class="order buttons">
            <div>
                <input class="button" type="submit" name="button" value="cancel">
            </div>
            <div>
                <input class="button" type="submit" name="button" value="order">
            </div>
        </div>

    </form>
    
{% endblock %}

