{% extends 'shop/base.html' %}

{% block title %}Order {% endblock %}

{% block page_content %}
    <form action="{% url 'shop:select' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Products</h1></legend>
            
            {% if error_message %}<p class="error_message"><strong>{{ error_message }}</strong></p>{% endif %}
            Select one product:
            <br>
            {% for product in product_list %}
            <ul id="product_sel">
                <li>
                    <input type="radio" name="product" id="product{{ forloop.counter }}" value="{{ product.id }}">
                    <label for="product{{ forloop.counter }}">
                        <img src="{{ product.image.url }}"  alt="{{ product.name }}"> 
                            {{ product.name }} 
                        </img>
                    </label>
                </li>
            </ul>
            {% endfor %}
        </fieldset>

        <fieldset>
            <legend><h1>Options</h1></legend>
            Activate addons:
            <ul>
                {% for option in option_list %}
                <li>
                    <input type="checkbox" name="option" id="option{{ forloop.counter }}" value="{{ option.id }}">
                    <label for="option{{ forloop.counter }}">{{ option.display_text }}</label><br>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <div style="text-align: center">
            <button class="button" type="submit">Add to cart</button>
        </div>
        
    </form>
{% endblock %}
