{% extends 'shop/base.html' %}

{% block title %}Option selection {% endblock %}

{% block page_content %}
    <form action="{% url 'shop:select_options' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Options</h1></legend>

            {% if error_message %}<p class="error_message"><strong>{{ error_message }}</strong></p>{% endif %}

            {% for option in option_list %}
            <ul>
                <li>
                    <input type="checkbox" name="option" id="option{{ forloop.counter }}" value="{{ option.id }}">
                    <label for="option{{ forloop.counter }}">{{ option.display_text }}</label><br>
                </li>
            </ul>
            {% endfor %}
        </fieldset>

        <div style="text-align: center">
            <button class="button" type="submit">Add to cart</button>
        </div>
        
    </form>
{% endblock %}
